# Imports

In [115]:
import pandas as pd
import re

# Data

In [124]:
bestand = '.\data\\voorbeeld4.txt'

with open(bestand, 'r') as file:
    text = (file
            .read()
            .splitlines()
            )

df = (
    pd.DataFrame(text)[0]
    .str.split('', expand=True)
)

# Dag 4.1

In [121]:
def check_letter(df, col, index, letter):
    letter_found = False
    try:
        if df[col][index] == letter:
            letter_found = True
    except:
        pass
    return letter_found

def find_letter_around(df, col, index, letter):
    options = []
    letter_found = False
    for i in {0,1,-1}:
        for j in {0,1,-1}:
            if i == j == 0:
                pass
            if check_letter(df, col+i, index+j,letter):
                letter_found = True
                options.append([i,j])

    return letter_found, options

def find_AS(df, option):
    letterAS_found = False
    found_a = check_letter(df, col+option[0]+option[0], index+option[1]+option[1], 'A')
    if found_a:
        found_s = check_letter(df, col+option[0]+option[0]+option[0], index+option[1]+option[1]+option[1], 'S')
    else:
        found_s = False
    if found_s:
        letterAS_found = True
    
    return letterAS_found

foundXMAS = 0
for index, row in df.iterrows():
    for col in df.columns:
        if check_letter(df, col, index, 'X'):
            found_m, options = find_letter_around(df, col, index, 'M')
            if found_m:
                for item in options:
                    if find_AS(df, item):
                        foundXMAS +=1



foundXMAS

2642

# Dag 4.2

In [125]:
foundMAS = 0

for index, row in df.iterrows():
    for col in df.columns:
        found_oneMAS = False
        if check_letter(df, col, index, 'A'):
            found_m, options_m = find_letter_around(df, col, index, 'M')
            found_s, options_s = find_letter_around(df, col, index, 'S')
            
            if found_m:
                if options_m[0][0] == 0:
                    found_m = False
            if found_m:
                if options_m[0][0] == 1:
                    i = -1
                elif options_m[0][0] == -1:
                    i = 1
                if options_m[0][1] == 1:
                    j = -1
                elif options_m[0][1] == -1:
                    j = 1
                if check_letter(df, col+i, index+j, 'S'):
                    found_oneMAS = True
            
            if found_s:
                if options_s[0][0] == 0:
                    found_s = False
            if found_s:
                if options_s[0][0] == 1:
                    i = -1
                elif options_s[0][0] == -1:
                    i = 1
                if options_s[0][1] == 1:
                    j = -1
                elif options_s[0][1] == -1:
                    j = 1
                if check_letter(df, col+i, index+j, 'M'):
                    if found_oneMAS:
                        foundMAS += 1

foundMAS

0

In [126]:
df

  0  1  2  3  4  5  6  7  8  9  10 11
0     M  M  M  S  X  X  M  A  S  M
1     M  S  A  M  X  M  S  M  S  A
2     A  M  X  S  X  M  A  A  M  M
3     M  S  A  M  A  S  M  S  M  X
4     X  M  A  S  A  M  X  A  M  M
5     X  X  A  M  M  X  X  A  M  A
6     S  M  S  M  S  A  S  X  S  S
7     S  A  X  A  M  A  S  A  A  A
8     M  A  M  M  M  X  M  M  M  M
9     M  X  M  X  A  X  M  A  S  X